body {
    box-sizing: border-box;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(39, 39, 39);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* SABEJON SIMPLE CALCULATOR */
h1 {
    color: rgb(232, 248, 0);
    font-size: 30px;
    text-align: center;
}

/* ANSWER */
h2 {
    color: rgb(228, 235, 241);
    font-size: 30px;
    text-align: center;
}

/* ENTER OPERATOR, FNUMBER AND SNUMBER */
label {
    margin-bottom: 5px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

/* RESULT BUTTON */
#BTTN {
    color: white;
    font-weight: bolder;    
    border-radius: 30px;
    font-size: 20px;
    background-color: rgb(1, 184, 1);
    border: none;
    padding: 15px 100px;
    margin-top: 5px;
}

/* HOVERABLE BUTTON */
#BTTN:hover {
    background-color: rgb(130, 224, 42);
    color: black;
}

/* WHOLE BOX */
.calculatorBox {
    background-color: rgb(2, 105, 153);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 20px;
    display: flexbox;
    width: 25%;
    margin: 0 auto;
    
}

/* WHITE BOX INPUT */
.calculatorBox input {
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 10px;
}
